<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if site.env == "prod" %}
    <link rel="stylesheet" href="/assets/main.css">
    <script type="module" src="/assets/main.js" defer></script>
  {% endif %}

  {% if site.env == "dev" %}
    <script type="module" src="http://localhost:3000/@vite/client"></script>
    <script type="module" src="http://localhost:3000/src/client/main.js"></script>
  {% endif %}

  {% include "views/head/seo.njk" %}
</head>
