<section class="hero relative bg-gradient-to-r from-blue-600 to-pink-600">
  <div class="container text-white flex flex-col items-center justify-center mx-auto pt-[56px] h-[40vh] prose lg:prose-xl text-center">
    <h1 class="hero-title">{{ title }}</h1>
    <p class="hero-summary">{{ description }}</p>
    <!-- <i class="lg:font-mdi mdi-sunglasses"></i> -->
  </div>
  {% include 'divider/divider.njk' %}
</section>