{% set pageTitle = title + ' | ' + site.title %}
{% set canonical = site.canonical + page.url %}

{% if title == site.title %}
  {% set pageTitle = site.title %}
{% endif %}

{% if not title %}
  {% set pageTitle = site.title %}
{% endif %}

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ description or site.description }}">
<meta name="keywords" content="{{ keywords or site.keywords }}">
<link rel="canonical" href="{{ canonical }}">
<link rel="shortcut icon" href="/assets/images/favicon.ico">

<!--
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
-->
