---
layout: page.njk
title: 404 - Page not found
description: Page not found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<p>Would you like to return to the <a href="{{ "/" | url }}">home page?</a></p>