---
permalink: "./src/_social/social.json"
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[
{%- for social in collections.all %}
  {
      "title":"{{ social.data.title | safe }}",
      "imgName":"{{ social.data.title | slugify }}"
  }{% if loop.last == false %},{% endif -%}
{% endfor %}
]